* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  scrollbar-color: var(--color-green-dark) var(--color-white);
  color: var(--color-green-dark);

  &::-webkit-scrollbar {
    background-color: var(--color-white);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-green-dark);
  }
}

html,
body,
#root {
  width: 100%;
  min-width: 490px;
  font-family: 'Prompt', sans-serif;
  background: var(--color-white);
}

#root {
  padding: var(--padding);
}

.h1,
h1 {
  font-size: var(--font-h1);
  font-weight: 700;
  line-height: 1.3em;

  &[data-style='display'],
  &--display {
    font-size: var(--font-h1-display);
    font-weight: 900;
  }
}

.h2,
h2 {
  font-size: var(--font-h2);
  font-weight: 700;
  line-height: 1.2em;
}

.h3,
h3 {
  font-size: var(--font-h3);
  font-weight: 700;
}

.h4,
h4 {
  font-size: var(--font-h4);
  font-weight: 700;
}

.h5,
h5 {
  font-size: var(--font-h5);
  font-weight: 700;
}

.h6,
h6 {
  font-size: var(--font-h6);
  font-weight: 700;
}

.p,
p {
  font-size: var(--font-body);
  font-weight: 400;
  line-height: 1.2em;

  &[data-style='caption'],
  &--caption {
    font-size: var(--font-caption);
  }

  &[data-weight='semibold'],
  &--semibold {
    font-weight: 600;
  }
}
