.root {
  header {
    margin-bottom: 1.5rem;

    > p {
      color: var(--color-green-light);
      margin-top: 0.3rem;
    }
  }

  form {
    > *:not(:last-child) {
      margin-bottom: 0.8rem;
    }

    > p {
      color: var(--color-red);
      text-align: center;
    }
  }
}

.customField,
form .customButton {
  width: 100%;
}
